@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 antialiased bg-lightcolor;
}
#header {
  @apply bg-slate-900 text-slate-100 cursor-default h-16 left-0 top-0 sticky w-full z-50 shadow-lg
  flex items-center text-xl;
}
#header .inner {
  @apply w-full max-w-7xl mx-auto flex justify-between items-center px-4;
}
.logo {
  @apply text-green-400 flex gap-2 items-center;
}
.logo img{
  @apply h-20 rounded-md invert
}
.navbar {
  @apply text-2xl w-fit h-fit gap-6 hidden md:flex;
}
.sidebar-toggle.open-sidebar {
  @apply before:w-screen before:h-screen before:bg-black/10 before:absolute before:top-0 before:left-0 before:z-[-1] before:ease-in-out before:duration-300 before:backdrop-blur-md before:transition-[backdrop-filter];
}

.sidebar-toggle.open-sidebar .fi-br-cross {
  @apply flex;
}

.sidebar-toggle.open-sidebar .fi-br-menu-burger {
  @apply hidden;
}
.sidebar-toggle .fi-br-cross {
  @apply hidden;
}
.sidebar-toggle {
  @apply md:hidden;
}
.sidebar {
  @apply flex gap-6 fixed left-[-100%] z-50 top-0 bg-slate-900 max-w-[75%] min-w-[60%] w-fit h-screen flex-col py-8 px-4 text-4xl duration-300 transition-[left] md:hidden;
}
.sidebar.opened-sidebar {
  @apply left-0;
}
.sidebar-nav {
  @apply flex flex-col gap-6 text-4xl text-slate-100;
}
/* Pesquisa */

.pesquisa {
  @apply bg-white text-slate-800 px-2 rounded-md flex items-center flex-1 h-7;
}
.pesquisa input[type="text"] {
  @apply flex-1 focus:outline-none text-textcolor placeholder:text-textcolor/30 w-full text-base;
}
.pesquisa button {
  @apply pl-2;
}

.home {
  @apply w-full min-h-screen relative px-3 pt-0 pb-4 flex
}
.home .bg {
  @apply top-0 left-0 absolute z-[-1] w-full h-full object-cover
}
.home .content-box{
  
}
.prose a:not(.underline){
  text-decoration: none;
}
.product {
  @apply grid grid-cols-1 relative  md:grid-cols-2 items-center gap-4;
}
.produto-imagem {
  @apply max-w-64;
}
.galery {
  @apply shadow-lg relative  w-full h-full justify-center flex items-center p-4 bg-white;
}
.galery img {
  @apply p-6 bg-white rounded-md
}
.detalhes {
  @apply space-y-6 h-full p-4 mx-auto;
}
.product-info {
  @apply flex justify-between  items-center 
}
.product-info h2 {
  @apply text-2xl font-extrabold m-0
}
.product-name {
  @apply text-gray-800;
}

.avaliacao i {
  @apply text-amber-500 text-lg;
}
.preco{
  @apply text-green-700 font-bold text-3xl
}
.select-color {
  @apply flex items-center gap-4 ;
}
.color-label {
  @apply relative flex cursor-pointer items-center justify-center rounded-full  focus:outline-none ring-gray-900 border-2 border-transparent;
}
.color-icon {
  @apply h-8 w-8  rounded-full border border-black border-opacity-30;
}

.color-label:has(input[type="radio"]:checked) {
  @apply border-2 border-amber-600 scale-125 duration-300 transition-all
}

.select-quantity .quantidade{
  @apply bg-primary
}
.modelo form {
  @apply space-y-4;
}
.row {
  @apply space-y-3;
}
.button-primary {
  @apply bg-primary text-slate-100 px-4 py-2 rounded-md shadow-md h-10 font-bold text-lg;
}
.button-accent {
  @apply bg-accent w-10 h-10 rounded-md shadow-md;
}
.input-quantidade {
  @apply text-xl w-full  flex justify-between
}
.input-quantidade .setQuantidade button {
  @apply border border-slate-500 w-10 h-10 rounded-md bg-accent text-xl
}
.input-quantidade .setQuantidade input {
  @apply w-12 h-10 text-center bg-transparent border border-slate-500 rounded-md focus:outline-primary;
}
.quantidade{
  @apply bg-accent
}
.comprar{
  @apply w-fit 
}
footer {
  @apply bg-gray-800 text-slate-100
}
.footer-container {
  @apply px-4 py-3 max-w-7xl md:flex space-y-6 md:space-y-0  mx-auto md:justify-between  border-b mb-2;
}
.footer-bottom{
  @apply text-center mx-auto
}